body {
    padding: 20px 0;
}

.flash-message {
    margin-top: 20px;
}

.container {
   width: 100%;
}

.dinheiro {
   text-align: right;
}

.centralizar {
   text-align: center;
}

.red {
   background-color: #C10000 !important;
   color: #fff;
} 