<div class="container">
   <div class="row">
      <div class="col-md-12">
         <h1>Controle Estoque</h1>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <form method="post">
            <div class="form-group">
               <button type="button" class="btn btn-primary btn-add" ng-click="vm.irParaEntradas()">Nova Entrada</button>
            </div>
            <div class="form-group">
               <button type="button" class="btn btn-danger" ng-click="vm.irParaSaidas()">Nova Saída</button>
            </div>
         </form>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <h3>Produtos</h3>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <table class="table table-condensed table-bordered table-striped">
            <thead>
               <tr>
                  <th>Código do item</th>
                  <th>Data de entrada</th>
                  <th>Tipo</th>
                  <th>Marca</th>
                  <th>Características</th>
                  <th>Tamanho</th>
                  <th>Cor</th>
                  <th>Quantidade</th>
                  <th>Valor etiqueta</th>
                  <th>Valor pago</th>
                  <th>Valor margem</th>
                  <th>Preço sugerido</th>
                  <th>Editar</th>
                  <th>Excluir</th>
               </tr>
            </thead>
            <tbody ng-repeat="movimentacao in vm.movimentacoes track by movimentacao._id">
               <tr ng-class="{'red': movimentacao.quantidade <= 0}">
                  <th class="centralizar">{{movimentacao.codItem}}</th>
                  <th class="centralizar">{{movimentacao.dataEntrada | date:'dd/MM/yyyy'}}</th>
                  <th class="centralizar">{{movimentacao.tipo}}</th>
                  <th class="centralizar">{{movimentacao.marca}}</th>
                  <th class="centralizar">{{movimentacao.caracteristicas}}</th>
                  <th class="centralizar">{{movimentacao.tamanho}}</th>
                  <th class="centralizar">{{movimentacao.cor}}</th>
                  <th class="centralizar">{{movimentacao.quantidade}}</th>
                  <th class="dinheiro">{{movimentacao.valorEtiqueta | currency: "R$"}}</th>
                  <th class="dinheiro">{{movimentacao.valorPago | currency: "R$"}}</th>
                  <th class="dinheiro">{{movimentacao.valorPago * 2 | currency: "R$"}}</th>
                  <th class="dinheiro">{{movimentacao.precoSugerido | currency: "R$"}}</th>
                  <th class="centralizar">
                     <button type="button" class="btn btn-primary" ng-click="vm.editar(movimentacao._id)">Editar</button>
                  </th>
                  <th class="centralizar">
                     <button type="button" class="btn btn-danger" ng-click="vm.querRealmenteDeletar(movimentacao._id)">Excluir</button>
                  </th>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div> 
